.title {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 20%;
}

.wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.footerWrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}